*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.header{
    background-color: rgb(242, 244, 205);

}
.header{
    padding-left:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
p{
    padding-block: inherit;
}
nav{
    padding-left: 10px;
    column-gap: 20px;
}
.section{
    padding-left:20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2{
    padding-left:20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
































.outer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    background: linear-gradient(to right, rgb(231, 127, 127),rgb(156, 249, 156),pink,rgb(121, 199, 232));
}

.outer > .inner{
    height: 450px;
    width: 650px;
    border-radius: 15px;
    background-color: rgb(5, 5, 5);
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxISEhUSEBIQEhUVFRUVFRUVFRAVFRUVFRUWFhUVFRUYHSggGBolHRUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OGhAQGisdHx8rLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLSstLS0tKy0tLS0tNy0tNy0rLS0tLS0tK//AABEIAMYA/wMBIgACEQEDEQH/xAAbAAACAgMBAAAAAAAAAAAAAAADBAIFAAEGB//EADoQAAEEAAQEBAUDAQgCAwAAAAEAAgMRBAUhMRJBUWEGcYGREyIyobHB0fBCFCNSYnKCkuEz8RWyw//EABkBAAMBAQEAAAAAAAAAAAAAAAIDBAEABf/EACURAAICAgMAAwEAAgMAAAAAAAABAhEDIQQSMRMiQVEyYRQjQv/aAAwDAQACEQMRAD8A8/e5KyC1N0ig3VQpURhcPGrXDtSmGYrKFqXOQmTGYQm2tS0aciCnkxRrgUHBMhqFiCGi3EAdTogQaFHlLPRG4yJxpskZPQOCKIk5a9NpijWJhkSO2FEEa27O62AEaz4aY4FnCsaBcQAYpAIlLKQvHYJAhBkKYcECQLPiMF3FLyIzwhORqNBJCkwSUqemSEoTYjEhd5QyVN4QC9v+Nn/IJyTYxRYQIgahhpBTEYQNAsGY0J8aeDVB8a1IyxDhTWAxHAa5FYYUN8dJsWdprZ0bIiRYo+WxWYlo+k+Z/QJPw1KR8S9WtaDryPZV+Px7nONGteS1v8EfH9gVosYWxEptCDz0pyT1oZgfScZOq9iM1q344yI3NljFiFYwTqkY1MxvKCWBMH5C4diQBZ5LzLPc2fiJCSTwXTW8gOtdV12aSkQyf6HfhefpmDCo2z0OIrTkYrnKPEMsJAJMjP8AC47f6TyVSG2sdGQqJRUlTLGk9M9WynHx4hgfEb6j+pp6EJ/4a8iy3MJIHh8TqI36EdCOYXo+A8UwPh+I48Lh9TNyD26hefl48oO47RNPE14Wvw0tPOxv1OaPMhctmXid0liM8Dfv7qinxJdzPnadDjWvszlgv07afN2D6SD6hITZlMdWt07UuYwzyTo2wN3FGdmZBIbt25q2GLHFeG/Al4dFDmMu7hp3oJkZnGd3AeoXJf8AyRIHMGvIKOIf/l0PMcl08UJfhnwRfp2PG130kH1QpAuSw+JLeZ81aQ5zVB+vcKOfH/gL47Xg9KqzH4lse+/IDcqeaZqxjfkPE4jTt3K5iSRzzbjZKzFhb2wseK9sJicW5+5odBsl0VkR/lKL21oVZVFK/wBDWW4khwaT8p+x6q+YuVbuunaVPmX6TZ1Ww4U2hADkeFySTMKIUGeBPsR8LCCeJ2zdStMuhLED4MIYPqd8zv0VGWK0xshe4n2SMjEUf6dAI6cLYY8iw11HY0aPkV6THC3YhvqLTXxK2KN8dv1iPlX8POsNls7hYikrqWkX5Xv6IjRWhFEbg6Eea78Hm6j7EqWJihP95M2IcOznBpPkiWLqvRfbszgmvR4jaXxrm/EfwG28RogUKJvZTgepZZGPWNDWIwvHG9vVpHuF5q5tGjuND5heoQPXIeMMsEbxK3aQ6jo7/tHxsn2cX+lnGkk+pQslITDXc+EeaWbpqdUU4onlX85lXIrYKQ67UtxSlp09Vo6qPCuNJyP102R4Zq1dR7FKg0pMaSsOGxiiT25AKMslihpr+i0MOQLPohOduts4nC6h2pFfiCKI0pLRu0rkmGw8Q03/ACF1nEJ8Reo060hxS0dRf7qMsZCgSsONyPJNlThPa0MNUmmlpw099DYeiUkkJ/TZGGKPS/P90GlzMQTCRcT2t6n/ANrpQxKeH8IOEyczoOwCtvhqXLLZHyJ26/gpwokaKY1EBTuaJ7GInJ/Hv4Iwzm7UpbKouJ+uzdSsx8Ukji4NNdTo33OiyU9ASduhAoboiU02EDc2e23uoyBB81eBdqO4jk66BSZJejAO5O/qgR2d9AOalJjGsHyi+5XqWQjE+IjiBc4i+y5TNcwdM6zoBsOQUcbjTI7XZKlRZsjk6XhXihStgiEeFDpHiYkaGN0NwOVR4zYTHG7kHa+oVzE1ExGGbIwseLBFFHjajJM7HNRlZ5g/dSihLtq9wnM7y74EhZZIqwSK0SkPW9l6UWns9NO1aCO+QUdSgOJKm1hcUyMNQRVZ10KCNHaaGn/ak2E3sp8YG2/VYwkYI3EfMaS7wpy9QUIlYabjTMcemjqPIHT0SrNlNmp3XHBCTs5AdEmGP5b6b9ER0dN05/jevevYLUY9CAsI4PGK5oxw9pVzC0raoG7Iyx8PMHyK3AaKybqOasvD+WCZxLuLhbW2xPS0Emo7OcklbLzIYKhF87PvsnnMTTYwBQ5IMq86c7dnmTl2bYpIFaeHcsbM8mS+BvIGrPS9656dlWSFNw4xxYI2jhaLLq3e4m7cfKhXZTqaTti5eD+bYppdwRNYyNugDAAHEbuNb+v6qrkaFuRDSW3J2wECkQZXos+yCwHmmx/oSOvnx8cY+c2eTR+qpMfmrpNPpb0CQxchLzfVQaV6LbkjYY4rYdoRWsQ2FEEi8/LN3SClIK2JFAAQPiLA9TvsLtjQfSK2ZJWtFy5OS8NSKzxiwvayhzPLsudjwROnv59F0+Zyl3CxvM6nolnua2qG2g/nVe/w4t4l2L8UmoJCkODDRtafwmWhwL3nhaPc+SwObVnl2UsXiGuYBxNaANif0CrpIPbF80xMQBZC03VXva5oJnGNbfyuvyBA9Es6Y63qToT6g6+yTN2x0VSML0O1pYhCNgojXISy1xwxfymuZ18ht9z9ldZRO1rf71th2ov8+SoGPobb19uyZw5s28uPoSii6YMvDpp8Cx7eOEnTUt39lWvwtjYfZNZbiWN+lw9bB8qKn8RpBI5Wn6ZPTRQy4Ij+bFdP4Vhc2LW/qNJJj2nR1Hl5gq38PONOjOvAdD2PVS8mH10Blm+jHnhKTFWb4UpNh15rxsh7oqnuR8Jt6ozMJrZ2UpPSlJkaT6nOVkXBLuNFMB2iTxTuQQwW6BQN+p7LfCpCgFBxTQguZMp/nqhwi01nLbY1w8krC6grFk+oa8CONLTXpXETKUEimcLdnUPMYSiiIouEIT7YxSYuNYiWSisfoq7E4ulY5nIAFy2ImsqjDw0nbKsEO2x0zX83MWB6j/2lGy3Q/nmpNJEbnVfT1FKvw8nzL0I/XRdWi6xbGtjAN30/UpDAQRva7iFuDmnn9PMVz5IuLmJq+iSaCDbTqtltmx8PVcd4cvDMbh+D4bjG9p4I3BzeIPJurNi9/JcX468Psw5jI0e/iPD/AJWgkurkNvuo5V4oxkLeCGaaNpNkNLS2zuQ1wIBO9hY+NrnnFYqWV7/6jI4EuJGjRprpxadlPHDNPb0joqmci9tKKKdUWPDE60aRjhYBYAmW4ckWAocNbrji28KZaybEMjlIAdYbZoOeKIb916nkvheWOWRo/wDG4NaG8DNAOIOskag2P5S8yyvDwzRN4i4SMc40DRIJGo8rZ91Y4zxFjPh/BdPiHx1VOlcQR0cd3DsUEsU5O0xM0mwXinDwMln+GGlocGsO90G2Qelh3mKPNJZTwkEVRI3SMxc82837o2Fkoij1tPgutI6XhuWThsLpPDDtHk72B9lx+Mk+ZdP4feRHfU/jRLzy+ojNH/rOpDghyAJIYhakl4hShnk6xbPMeNkXPvZCcFpzCtBy8l7dh0Ac6ilgOIk+yJjHWQFvQCgnrSNIGgoE2pFLTTUdEzHG3QSVl08ccXkqSV9BXWXG2kdlVTw/MfNOjG2atMrzZU2OITfwUJ8aOSoYnYxhsVSsRmGioqpBlnKbhts34VJhc1xpdoqyMWQFqV6PljbdfRXJFkYqMaLSWH+6LeypMIygT6K2nn1Ve9vC06/1FE/Ql4RdJYpRiNFLfH1tTEixM2ixhfqn8aAICTvWirssHEQa0CezZ393Xr7Jn/kFf5HP4SHiK6GHCtaOp9FTZY3ieF1kUenp/OSVGNjZOioji0ojmfyqrHYYg31XWxwjmqTPYKpy2UdGKVkPDVU8Ea9eeqJjDRNoGROpxN9jr/O6ZzSMkWOSOD+oE/8AIrZCoiQAIBeoPm18kFm9Q+JFtB52ukyuThYG9Aufw9Ob6hWGGn1QuKkqAmrjRe/FToxpLOGm686AOnkudZik5hsTR7LzeRhko6JJ49DxehznS0W75aJHGSUK6rzYxtk9AogXG0c0hwkALUkl7J/VydI3q2zUr6Cr5AnCEtMFbjxqI6KouMtfqlsxPC9Dy6b5lPPm6gpUXUhdfYB8ZQdIlA5Y51I22xlUSxEiRc61k8todq7DDqimCpAZSrHLxTSVVvOqtotGiq9ar76J69GvwXxciXxD7bfof3TT5NdXQesQd+GV91gdG7Q/As82maIn3bwD2QyYUUVCbgi4mntr+6eOTNeLic7/AHASNHm+Eur/AHAIWEwMrT9PGw2C6MtkaPMsJA9UMfQpeD+C0poHT7/z8rWdvLvkby+o9kcAMO9kN5VoTpqet7BLSvoaizTjVnU9/RMltUBFUC8PwW49l008waKVb4fgLmF0bXGyToCarfloFDFtdxU6x5gj2tbHwyT2PQYoXXdAzyEOZxDklBEW81aw4WQxkljuGuh+43A7ontGJ7OVywua4P5XR7K2xcnTYjTuk8JO0aVs4C+ulOv3R2EVWooiudA6DTogjoOeyrniA4nD+Wq9XWNwMriRGxxbd8WzOVDjdTfuoR5BINZHRx/6if8A7AcPpxWly9Nj4JQvoX10H7pvCPWn4Jl/+Ti8nYcf/oVsQluvDIB1IHD/AMgaRRMkEldRR4J0vLyKG0rpRTFtWi/ixGm6VBL3alKRTck5hnc152XEoy0SzjTGXCkMuWpJEuXpMVsGg5el5XLRehucq4hpB8C+nLohgBOALpUuQxBzjfILoMolp3qkTSU0ybK6eiD/AAoOTtVT5l4dmZqBxL0JhBRWDqqFBE8c84s8adl816xu9kdmTYh20Tl7QzCsO7W+wRWxtGgA9gn9yr/mS/h4ZLks7T80bvyiYgFuhBHmvcjCw/U1p9FzPi/KInxlzWtBG2gWrJXoyPKcnUkeT/Cc76Wl3kCfdO4bKsTuAIx1JYPxZTkODefqc89ACQB6j8Ck/Hljz27t0Pq4fMfUpWTk44+ss+WMRKLLscfpkYfuPuxNtwWLsOljwzq/r4XteB2c0DXshYrI7NuIPd7nV6kfuFAYKGP6nM6V8OFrf+U3CT5guRwmpK0NjJSWhSeRjr/pII0vc2TqP2Sk3E3UkO15afZTzNgGrmuAJsO1o9KdQDvTRVzj0efVOsxILI940jceEm6B2K03HPGjifVBs9VtxLlgVBhjXDUKLZJSQ7iI6G0GNqK6QnmssykMR8mt2HPuU9FwN1eeIgaDawqhvd1JnCAFwawcbuVkD2v8IkzGjocJi9LbLDFf9LvhB1DbUysNdkKUOftMOpogN92YgoMkzI+Fs0QjNVxS4YSNPk6wfsUtNE362swjh/ijklir/k7haeyBvYaWhfEMkB0xAJ5D4xN+riK90NmJlYfmLge4Bv15reIofW2dmunHwyN9HED7IIkFVuO1ij5Eaei1AyHHycWpAvtp9kPhUYjop2jFm4xqmDJRpCh3QpH/ADHzUyXabFVchwyKBcgteitKVPFTBcaMVvl2W6cUmiTwwaz5n8uSji8ze/b5RyXRaQDTekay6XgdausDN865pkqtcBLsUnLFqmLyQ/TvMNJoE4xyqcumDm1eqfaSFTF6PPa2WAkKIHULKrMTiuAKsmzUkbpWTPGHo2Mb8LfFZoAqnHY74gpVcuJ5kpDE5s1vMLz55suV1EphiLNkLQslxjWDkuWxXiDoqjEZg5+5NdAix8Ccnc2UxxNl7mubB5q3Ec+EhoA7uO3sVXRyhmsYih5h7hbz3YHWf93yjsFXPnAqqLvQtb5D+p3cpcTHi4nHiPV2uvU3uvVx41CNIshFRVFz8lF5DndZJCXPN39EdgAHq7v0KqpWc9NToN9PNRmmJ3JPPzJ3J/CMwBw19OSYjWCsdAFoSdFhgN1/OywsrmFtnGmvrcKYeOyg1b+CeWv8r+enVdZxsbiwPRWcLmsZb2NkjO5FBw10Nbe/uVX8HCNd1CHEub5a2DqDe4I6H9AVjOLxjnMF4SY8B3YSSzqQ5hvh+/mEmZo3H5m/2eTk5gph823VHtQ7lIRyFrrjJH82P7pyRpkq21+56dPwelobSObS9IzNfGd+H/My+B3mOR9PTmg/Ev6mgHq0Afbb2pMxYd4FE2Oh1QJcOR/NlsZxf6Lc4v8ARzBYcuGia/sBG9pvw41vDqrPGyNDTXRDObRHPNJSpHNwDUrToQpsNAkqDXEqZSldo3s7sGIuiajAZqd0J+IDPNAbKXaprlKSCbbQxIS7U+yjwrTbJoAk9Fa4XJXu1eeDtVn/AKS0mmLcuvpSRhWWDdSrxIAmMLNaPMriFNNoexWaOiII2V3lHihr6Dj7rlc4FsVG15GoNLsKuB0eNDJH/Z69mGKa5lg8lyeLzAMG6Sy3M3OZRKq82ebSJYe89g4sFS6sLNmrnGhskMVIb1KEw6hSxB1V0IRitItUEnoESsBWNCJDAXGgEQdpAqRosI52wV9luR3Vi10+ByMDkhbI8vNjDSOIgyR53VlhvD7h5rv8PlTRyTjMC3ostkUudN+HnsmRu5DWj156fhJYjIHXeq9S/sbeig/L2nks2CuZkR5JLkzx1Q/7M9o22P6Ufw1erSZODySU+Rjou7D486X6eYzFx+WjXT8Hz/ZSw2Wk7rssXlAB2QosGApsvJ6+D/8AlOS0VOFyzsrKLLwnBQUJMRShnmnIS5Ng34IUqvG4cJmfHjql2P4iixqcds5JrZrBxkaBOPhJGqLBHSOShyZ5NgSnspMRGANVWzYk7NV3j47CrocHqqcWRdbY3HKKVsrPhOOpVrleBc800E9+Q8ynYcADuugwZDQAAAOgToZu2kZl5GtCuGy4R67u6/oE3anKUs5yaRuTfp5+HJrAu1SbUbDupy2atHszWiyx2rCqBdBNq0qgeNSgwaVGcfxosMof81I+cx6Wq/AyU4K5zJvEy+yKWp2ZPWRMoGbqc26G3dGmaqF4PfpCFpJoLr8jy0aaLnsphsrvsoYAAgkyHl5K0izweBACdFDZAbKp8SE8mTGGuRQ5Ih6KyRaKsaBRGoDEYOpaEmGSuJnACFicWAqDMcy7qfLkSQ6KslmGICqZJ0piMd3VRjczpQLHLJItx429Is8VjwOapMXmpOyrp8SXIbBZV2LjxitluPAltj+HDnmyr/Bw0q/L4DV1oriM0FNyJ7pE2advQcLdoXEstRUTEnBD4Qt8SjdokmcTa5OQvpIgI4dorOPBrYEhh8yA+RLyyLTGk7qsxI5KJbOhWLExns/pZNPy+ipJ/qKxYl4vWDh9ZqM0QuhB4olixFk/Dc34c88UfVGeVixOiNZZ5SV2eAfotLEuZ5XL9H2SI7ZFixcjzZGjIjRPWLFooZEyXxOMpaWIZvQUSizHHlc5jMYVixRPctnpYIopsXjSkHOtYsVsIpLR6+OKS0aXTZHl7QwSEAudqOdDlXdYsWy8FcqTUNFg9Y1YsXlZPSA2StcSxYlgNGByI1qxYm40rAkTpCL9aWLFcgEGY1E4uyxYjRp//9k=);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: contain; */
    /* background-size: cover; */

}